*.hd
*.hdf5
*.idea
*__pycache__/
/Data/
/Data/Mission_Iconic_Reefs
Toolbox/gooey_config.json
/Viscore/
Toolbox/README.md
/Test/
# Ignore .amlignore files
.amlignore

# Ignore files with the .amltmp extension
*.amltmp
.ipynb_aml_checkpoints
