*.hd
*.hdf5
*.pt
*.pth
*.torchscript
*.bin
*.engine
*.onnx
*__pycache__/
*.amltmp
*.amlignore
*.ipynb_aml_checkpoints

*egg-info
*.idea
*.vscode
launch.json

build
dist

Data/
coralnet_toolbox/QtClustering.py