black
black[jupyter]
build
bump-my-version
codespell
wheel
flake8
twine
click
pytest

ipykernel
livereload
nbconvert
nbformat
watchdog
mkdocs<2
mkdocs-git-revision-date-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-jupyter>=0.24.0
mkdocs-material>=9.1.3
mkdocstrings
mkdocstrings-python-legacy
pygments
pymdown-extensions
