PyQt5>=5.15.11
PyQtADS
pyqtgraph
ujson
blosc2
zstandard
rasterio
pycocotools
ultralytics
lightly-train[ultralytics]
lap>=0.5.12
open-clip-torch>=2.20.0
supervision>=0.25.1
scikit-learn
scikit-image
umap-learn
faiss-cpu
transformers>=5.0.0
pyarrow
hf_xet
yolo-tiling>=0.0.28
pyvista
pyvistaqt
pynvvideocodec
requests
selenium>=4.15.2
beautifulsoup4>=4.12.2
webdriver_manager
dill
seaborn
GPUtil
psutil
