PyQt5>=5.15.11
pyqtdarktheme
ultralytics>=8.3.127
open-clip-torch>=2.20.0
supervision>=0.24.0
scikit-learn
pycocotools
ujson
timm==0.9.2
autodistill
transformers>=4.5.0
x-segment-anything>=0.0.8
yolo-tiling>=0.0.19
roboflow
rasterio
requests
selenium>=4.15.2
beautifulsoup4>=4.12.2
webdriver_manager
dill
